[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.2.12" # 0.1.16
#openai = "==1.21.2"
langchain-openai = "==0.1.20" # 0.1.3
langchain-community = "==0.2.11"
python-dotenv = "==1.0.0"
tiktoken = "*"
chromadb = "*"
black = "*"
langchainhub = "*"
langchain-google-genai = "*"
pillow = "*"
scikit-learn = "*"
faiss-cpu = "*"
lark = "*"
beautifulsoup4 = "*"
langchain-chroma = "*"
sentence-transformers = "*"
langchain-elasticsearch = "*"
numpy = "*"
scipy = "*"
elasticsearch = "*"
pyboxen = "*"
langgraph = "*"
pandas = "*"
langchain-upstage = "*"
langchain-ollama = "*"
langchain-huggingface = "*"
flashrank = "*"

[dev-packages]

[requires]
python_version = "3.12"
